html{
	background-color:#0b1425;
}

/*taskbar*/

#taskbar{
	left:0;
	top:0;
	width:100vw;
	height:50px;
	display:flex;

}
#left-part{
	width:30vw;
	height:100%;
	display: flex;
}
#right-part{
	height:100%;
	width:70%;
	display: flex;
}
#logo-image{
	margin-left:3%;
	height:100%;
}
#favourites{
	width:100%;
	height:100%;
	font-size:50%;
	padding-left:10%;
	padding-top:15px;

}
#favourites a{
	color:#e0dada;
	text-decoration:none;
	font-size:1.4rem;
}
#favourites a:hover{
	text-decoration: underline;
	box-shadow:0px 1px 6px 4px #535547;
}
#search{
	width:50%;
	padding-top: 15px;
}
#search-bar{
	width:85%;
	background-color: #bcbcda;
	border-radius:5px;
	height:20px;

}
#search button[type="button"]{
	background:none;
	height:25px;
	border:none;
}
#search button[type="button"] i{
	color:white;
}
#search button[type="button"]:hover{
	box-shadow: 0px 0px 1px 1px #535547;
}
#notification{
	width:20%;
	padding-top: 20px;
}
#notification i{
	color:#e0dada;
}
#notification-list{
	margin: 0;
    display: none;
    background-color: #bcbcda;
    box-shadow: 0px 4px 8px 1px #535547;
}
#notification:hover #notification-list{
	display:block;
}
#notification ul{
	margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
    list-style: none;
    width:100%;
}
#notification li a{
	color:black;
	text-decoration: none;
}
#notification li:hover{
	text-decoration: underline;

}
#user-image{
	margin-left: 20%;
}
#user-image img{
	margin-top:10px;
	border-radius:5px;
	
}
#user-image img:hover{
	box-shadow: 0px 0px 2px 4px #535547; 
}

/*main section*/

#main{
	margin-left:40px;
	margin-top:30px;
	width:70%;
	display: inline-block;
}
#song{
	width:90%;
	height:300px;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	background-color: #1c1c42;
}
#song img{
	height:300px;
	width:300px;
}
#song-info{
	margin-left: 10px;
}
#song h2{
	color:white;
	font-family:sans-serif;
	display: inline-block;
}
#song span{
	margin-top: 55px;
	margin-left: 50%;
	font-size: 15px;
	display: inline-block;
	color: lightgrey;
}
#song p{
		font-size: 15px;
	color: lightgrey;
	width:90%;
}
#play-all{
	background: linear-gradient(to right,#3939ab,purple);
	height:27px;
	width:100px;
		display: inline-block;

}
#play-all h3{
	font-size: 1rem;
	padding-top: 5px;
	margin-top: 0px;
	margin-left: 18px;
	color:lightgrey;
	font-family: sans-serif;

}
#song h5{
	font-family: sans-serif;
	margin-left: 20%;
	color: lightgrey;
	margin-top: 0px;
	display: inline-block;
}
#song h6{
	font-family: sans-serif;
	color: lightgrey;
	margin-top: -10px;
}
#songs{
	width: 90%;
	height:500px;
	margin-top: 20px;
}
#music{
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	height:60px;
	background-color: #2d2d46a1;
}
#music h5{
	margin-top: 20px;
	font-family: sans-serif;
	color: lightgrey;
}
#music img{
	margin-top: 5px;
}
#singer-info{
	width:60%;
}
#singer-info h4,h6{
	font-family: sans-serif;
	color: lightgrey;
}
#singer-info h4{
	margin-top: 15px;
}
#singer-info h6{
	margin-top: -20px;
}
#music i{
	margin-top: 15px;
	color: lightgrey;
}
.fa-customize{
	font-size: 25px;

}
::-webkit-scrollbar{
	display: none;
}

/*aside section*/

#aside{
		right:1rem;
	top:1rem;
	position: sticky;
	display: inline-block;
	margin-top: 30px;
	margin-left: 0px;
	height:80vh;
	width:25%;
	vertical-align: top;
	overflow: scroll;
}
#aside h2{
	color: white;
	font-family: sans-serif;
}
#aside span{
	font-family: sans-serif;
	color: lightgrey;
	font-size: 0.8rem;
	margin-left: 25%;
}
#aside h2,span{
	display: inline-block;
}
#similar-artists span{
	margin-left: 30%;
}
#similar-artists-song{
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	height:80px;
	width:100%;
}
#similar-artists-name h4,h6{
		font-family: sans-serif;
	color: lightgrey;
}
#similar-artists-name h6{
	margin-top: -15px;
}
#similar-artists i{
	color: lightgrey;
}
#time{
	color: lightgrey;
	font-size: 0.7rem;
}
#recently-played-song{
	margin-top: 8px;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#recently-played-song>h6{
	margin-top: 15px;
	font-size: 0.8rem;
}
#recently-played-name{
	width:60%;
}
#recently-played-name h5,h6{
	color: lightgrey;
	font-family: sans-serif;
	margin-top: 10px;

}
#recently-played-name h6{
	margin-top: -15px;
}
#recently-played i{
	margin-right: 10px;
	color: lightgrey;
	margin-top: 15px;
}

/*Bottom Music Player*/

#music-player{
	display: flex;
	justify-content: space-around;
	background-color:#171313;
	position: sticky;
	width:100vw;
	bottom: 0;
	height:50px;
	margin-left:-8px;
}
#music-info{
	display: flex;
}
#music-info img{
	margin-top: 7.5px;
}
#music-name h5,h6{
	font-family: sans-serif;
	color:lightgrey;
}
#music-name h5{
	margin-left: 10px;
	margin-top: 10px;
}
#music-name h6{
	margin-left: 12px;
	margin-top: -20px;
}
#music-info i{
	margin-left: 10px;
	margin-top: 13px;
	color:lightgrey;
}
#music-play{
	width:40%;
}
#music-controller{
	margin-top: 8px;
	height: 25px;
	display: flex;
	justify-content: space-around;
}
#music-controller i{
	color: lightgrey;

}
#progress-bar{
	background-color:lightgrey;
	width:100%;
	height:5px;
	border-radius: 10px;
}
#inner-bar{
	background-color: green;
	width:40%;
	height:5px;
	border-radius: 10px;
}
#volume-bar-controls{
	margin-top: 15px;
	width:20%;
	display: flex;
	justify-content: space-around;
}
#volume-bar-controls i{
	color:lightgrey;
}
#volume-bar{
	margin-top: 7px;
	width:50%;
	background-color: lightgrey;
	height:3px;
	border-radius: 8px;
}
#volume-inner-bar{
	width:30%;
	height:3px;
	background-color: green;
	border-radius: 8px;
}